<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Iniciar Sesión

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error


           
            form#formulario.caja.caja-login(method="POST" action='/iniciar-sesion')
                .campo
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Ingrese Email" value= email)
                .campo
                    label(for="password") Contraseña: 
                    input(type="password" name="password" placeholder="Ingrese su contraseña" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones
                    a(href="/crear-cuenta") Crear cuenta

                    a(href="/reestablecer") ¿Olvidaste tu contraseña?

        script(src="/dist/bundle.js")