<!DOCTYPE html>
html(lang="en")
    head
        include partials/header 
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega email para reestablecer la contraseña

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Ingrese Email" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones
                    a(href="/iniciar-sesion") Volver a iniciar sesión


