<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Confirma tu cuenta UpTask
        p Para confirmar su cuenta, debe de dar un click en el siguiente enlace
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Si no solicitaste este correo, puedes ignorarlo

        