<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Contraseña
        p Hola, has solicitado reestablecer su contraseña, haz clic en el siguiente enlace para reestablecerlo, este enlace este temporal, si se vence tiene que solicitarlo
        a(href=`${resetUrl}`) Ir a enlace para cambiar contraseña
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este correo, puedes ignorarlo

        